RewriteEngine On
RewriteBase /secret

## Protect A File

<Files timetable.php>

AuthName "Secure directory"

## please change the file path

AuthUserFile "/app/.htpasswd"
AuthType Basic
Require valid-user

</Files>
