RewriteEngine On
RewriteBase /secret

## Protect A File

<Files timetable.php>

AuthName "Secure directory"

## please change the file path

AuthUserFile C:\UniServerZ\www\607_ass3\secret\.htpasswd
AuthType Basic
Require valid-user

</Files>
